[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
.vscode/
.idea/
*.csproj
*.sln
*.user
.DS_Store
Thumbs.db
RawData/
GeneratedBerlin/
*.citygml
*.gml
*.gpkg
*.pbf
*.osm
*.tif
*.tiff
*.laz
*.las
*.obj
*.fbx
*.glb
*.gltf
*.bwt.gz
__pycache__/
*.py[cod]
